body {
    font-family: 'Inter Tight',sans-serif;
    }
    
    .nav-bar {
    
      display:flex; 
      flex-direction: row;
      height: 12vh;
      min-width: 100%;
      gap: 30%;
    
    }
    
    .about-me {
        padding: 40px;
        text-align: center;
    }
    
    .project {
        margin-bottom: 400px;
    }
    .project-title {
        font-weight: bold;
    }

    img {
        flex-shrink: 2;
    }
    
    #nav-left {
        display:flex;
        width: 20%;
        height:10vh;
        gap: 10px;
    }

    #nav-right{
        width: 50%;
        font-family:Roboto;
        padding: 10px 5px 5px 90px;
        font-size:large;
    }
    
    button {
        border-radius: 15px;
        border-width: .05pc;
        background-color:white;
    }

    #toggle:hover {
        visibility: hidden;
        position: relative;
    }

    h3 {
        padding-top: 15px;
    }